### 데이터 타입
* 정수 (int)
* 실수 (float)
* 문자열 (str)
* 불리언 (boolean)

### 변수 선언 = (대입연산자) 사용
* 자료형을 미리 선언하지 않음
* 오른쪽 값에 따라 동적으로 타입이 변경 (동적 타이핑)
* 변수명 = 값 (해당 변수에 값이 대입)

In [1]:
a = 10 # int
b = 11.5 # float
c = a + b
c

21.5

### print() 함수
* 변수의 값을 출력
* , (comma)를 기준으로 여러값들을 한번에 출력

In [2]:
print(c)

21.5

In [3]:
a
b
c # 맨 밑에 있는 값만 출력

21.5

In [4]:
print(a)
print(b)
print(c)

10
11.5
21.5

In [5]:
print(a,b,c) # ,를 기준으로 띄어쓰기되어 출력

10 11.5 21.5

### print() 함수 설정
* sep : 구분자, 각 값들의 구별하는 역할
* end : 마지막에 출력될 문자열

In [12]:
print(a,b,c,sep='-', end='\t')
print(a,b,c,sep='-', end='\t')
print(a,b,c,sep='-', end='\t')

10.5-11.5-21.5	10.5-11.5-21.5	10.5-11.5-21.5

In [7]:
print(a,b,c)
print(a,b,c,sep=' ', end='\n')
print(a,b,c,sep=' ', end='\n')

10 11.5 21.5
10 11.5 21.5
10 11.5 21.5

* 카멜 (camel)표기법 : userScore
* 스네이크 (snake) 표기법 : user_score

### type() 함수
* 변수나 값의 타입을 확인하고 싶을 때 사용

In [11]:
type(a)

float

In [9]:
type(b)

float

In [10]:
a = 10.5
type(a)

float

### None
* 아무런 값을 갖지 않을때 사용
* 변수가 초기값을 갖지 않을때(초기화하지 않았을때)
* 타 언어의 null, nil 유사한 의미

In [16]:
d = None
print(d)

None

In [17]:
e = ''
print(e)

### 변수 선언 방법

In [18]:
a, b = 10,11
print(a,b)

10 11

In [19]:
a = b = 20
print(a,b)

20 20

In [20]:
[a,b] = [10,15]
print(a,b)

10 15

In [23]:
# 두 변수의 값을 바꾸기
a = 1
b = 2
# 코드작성
# tmp = a
# a = b
# b = tmp
a,b = b,a # a,b = 2,1
print(a,b) # 2 1

2 1

### 변수 삭제

In [24]:
del(a) # 변수 자체가 삭제됨
print(a)

NameError: name 'a' is not defined

### 불리언 (boolean)
* 불자료형, 불타입
* bool type
* True / False

In [26]:
a = True
print(a)
print(type(a))

True
<class 'bool'>