### string (문자열)
* 문자들이 나열 (문자 배열 형태)
* 순서가 있는 구조 (순서 : 인덱스)
* '(작은따옴표) 또는 "(큰따옴표)로 문자를 넣어서 생성
* 문자열에 ', "가 포함되어 있으면, 반대의 기호를 사용  
    저는 '홍길동'입니다. -> "저는 '홍길동'입니다."  
    저는 '홍길동'입니다. -> '저는 \'홍길동\'입니다.'
* '''(작은따옴표 3개), """(큰따옴표 3개) 사용시 줄바꿈 가능

In [1]:
a = "홍길동"
a

'홍길동'

In [2]:
a = '홍길동'
a

'홍길동'

In [3]:
type(a)

str

In [4]:
a = '안녕하세요 저는 \'홍길동\'입니다.'
a

"안녕하세요 저는 '홍길동'입니다."

In [5]:
a = "안녕하세요 저는 '홍길동'입니다."
a

"안녕하세요 저는 '홍길동'입니다."

In [6]:
a = '안녕하세요 저는 "홍길동"입니다.'
a

'안녕하세요 저는 "홍길동"입니다.'

In [7]:
a = '''안녕하세요
저는
홍길동입니다.'''
a

'안녕하세요\n저는\n홍길동입니다.'

In [8]:
print(a)

안녕하세요
저는
홍길동입니다.

### 문자열 연산
* +외에도 *도 연산 가능

In [9]:
a = 'Hello'
b = 'Python'
c = a + b
c

'HelloPython'

In [10]:
d = b * 2 # b + b
d

'PythonPython'

In [11]:
"""
--------------
이름 : 홍길동
--------------
"""
print('-'*15)
print('이름:홍길동'*2)
print('-'*15)

---------------
이름:홍길동이름:홍길동
---------------

In [12]:
a = '1'
b = '2'
c = a + b
c

'12'

In [13]:
d = a + 2 # 정수와 문자열은 연산 불가

TypeError: can only concatenate str (not "int") to str

In [ ]:
# 숫자를 문자열로 변환
e = a + str(2)
print(e)

In [ ]:
# 문자열을 정수로 변환
f = int(a) + 2
print(f)

### 문자열 인덱싱, 슬라이싱
* 배열형태로 인덱스(순번) 0번부터 시작
* 인덱싱 : 변수명[인덱스]
* 슬라이싱 : 변수명[시작인덱스:끝인덱스전] 범위를 지정

In [ ]:
a = 'Hello Python'
a[0]

In [ ]:
a[5]

In [ ]:
# 문자열의 길이
len(a)

In [ ]:
# 마지막 인덱스 : 길이-1
a[11], a[len(a)-1]

### 음수 인덱스
* 파이썬에서는 다른언어와는 다르게 음수로 된 인덱스가 존재
* -1 : 마지막 인덱스
* -2 : 끝에서 두번째 인덱스

In [ ]:
a[-1]

In [ ]:
a[-2]

### 문자열 슬라이싱
* 인덱싱은 하나의 문자를 추출, 슬라이싱은 연속된 문자열을 추출
* [시작:끝] 범위 지정하여 추출, 구분자 : (콜론)
* 끝인덱스는 포함되지 않음
* 시작, 끝인덱스 생략 가능, 시작을 생략하면 0부터, 끝을 생략하면 끝까지

In [ ]:
print(a[0:11])
print(a[0:1])

print(a[:5]) # 맨앞에서부터 5전까지
print(a[6:]) # 6인덱스부터 맨끝까지

print(a[:]) # 맨앞에서부터 맨끝까지

In [ ]:
print(a)
a[0:-3]

In [ ]:
a[-3]

In [14]:
# 날짜데이터
date = '2020-11-23 11:07:30'

In [21]:
len(date)

19

In [22]:
print(date[19::-1])

03:70:11 32-11-0202

In [23]:
order = "1,2,3,4,5,6,7,8,9"

In [24]:
len(order)

17

In [26]:
print(order[17::-1])

9,8,7,6,5,4,3,2,1

In [ ]:
# 년도
print(date[0:4])
# 월
print(date[5:7])
# 년월일
print(date[0:10])

In [ ]:
# 문자열은 특정위치의 값을 변경 불가(immutable)
a[0] = 'K'

In [ ]:
# Hello Python -> Hallo Python
#a[1] = 'a'
b = a[0]+'a'+a[2:]
b

### 문자열 포맷팅
* 문자열 내에 특정 값만 변경되는 경우
* 반복된 문자열 생략 가능
* 예) 당신의 속도는 00km입니다.

In [ ]:
# 숫자인 경우
print("당신의 속도는 %dkm입니다." % 30)

In [ ]:
print('당신의 속도는 '+str(30)+'km입니다.')

In [ ]:
# 문자열인 경우
"당신의 이름은 %s입니다." % '홍길동'

In [ ]:
# 변수 사용
speed = 30
"당신의 속도는 %dkm입니다." % speed

In [ ]:
# 숫자는 문자열로 자동형변환
speed = 30
"당신의 속도는 %skm입니다." % speed

In [ ]:
# 실수
"원주율은 %f 입니다." % 3.141592

In [ ]:
# 실수 (자리수 지정)
# 전체자리수.소수점자리수
"원주율은 %10.3f 입니다." % 3.141592

In [ ]:
# 2개 이상의 값을 포맷팅
name = '홍길동'
age = 30
'당신의 이름은 %s이고, 나이는 %s입니다.' % (name, age)

In [ ]:
# format 함수로 포맷팅
'당신의 이름은 {0}이고, 나이는 {1}입니다.'.format(name, age)

In [ ]:
# 변수명으로도 가능
'당신의 이름은 {name}이고, 나이는 {age}입니다.'.format(age=30, name='홍길동')

In [ ]:
### 가장 자주사용하는 방법
'당신의 이름은 {}이고, 나이는 {}입니다.'.format(name, age)

### 문자열 관련 함수
* 문자열 처리에 필요한 다양한 기능을 제공하는 함수

In [ ]:
# 문자 갯수
a.count('l')

In [ ]:
# 길이
len(a)

In [ ]:
# 위치를 인덱스로 리턴
a.find('o')

In [ ]:
a.index('o')

In [ ]:
# find와 index의 차이점(해당 값의 존재 여부)
a.find('j')

In [ ]:
a.index('j')

In [ ]:
# 문자열 삽입
'-'.join('abcd')

In [ ]:
# 대문자로
a.upper()

In [ ]:
# 소문자로
a.lower()

In [ ]:
'Hello python'.lower() == 'hello python'.lower()

In [ ]:
# 공백제거
# 왼쪽공백제거 : lstrip
# 오른쪽공백제거 : rstrip
# 양쪽공백제거 : strip

In [ ]:
a = '    h e l l o     '
a.lstrip()

In [ ]:
# 공백을 제거한 값을 리턴 (기존 값은 변경되지 않음)
a

In [ ]:
a.rstrip()

In [ ]:
a.strip()

In [ ]:
# 모든 공백을 제거
a.replace(' ', '')

In [ ]:
# replace : 치환, 변경
a.replace('e','a')

In [ ]:
# e->a, 양쪽공백
a.strip().replace('e','a')

In [ ]:
b = a.strip()
b.replace('e','a')

In [ ]:
# split() : 특정 구분자로 쪼개서 리스트타입으로 리턴
a = '1:2:3:4:5'
a.split(':')

In [ ]:
a = '1 2 3 4 5'
a.split(' ', 2)

In [ ]:
# csv (Comma Separator Value) : ,(컴마)로 구분 
a = '홍길동,30,서울시'
a.split(',')