### 리스트 (list)
* 배열과 유사
* 대괄호
* 각 요소들은 다양한 자료형으로 사용 가능
* 생성된 후에도 변경 가능 (mutable)

In [11]:
products = ["A", "B", "C", "D"]

In [12]:
c = products.remove(3)

ValueError: list.remove(x): x not in list

In [1]:
# 초기화
a = []
type(a)

list

In [2]:
a = [1,2,3]
a

[1, 2, 3]

In [4]:
# 다양한 자료형
a= [1,2,3,'python','java',1.5]
a

[1, 2, 3, 'python', 'java', 1.5]

### 리스트 인덱싱
* 문자열의 인덱싱과 동일
* [ ]를 이용해서 값을 가져온다.
* [i] : i가 인덱스이고, 해당하는 요소를 반환
* 음수도 가능 : -1은 맨끝 요소

In [7]:
a = [1,2,3,4,5,6]
print(a[0])
print(a[5])
print(a[-1])

1
6
6

In [8]:
# 각 요소의 값을 변경
# 문자열에서는 불가능, 리스트는 가능
a[0] = 7
a

[7, 2, 3, 4, 5, 6]

### 리스트 슬라이싱
* 문자열 슬라이싱과 동일
* 결과값이 리스트

In [10]:
a = [1,2,3,4,5,6]
print(a[0:3]) # 0번부터 3번인덱스 전까지
print(a[:3])
print(a[3:])
print(a[:])

[1, 2, 3]
[1, 2, 3]
[4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [11]:
# 중첩리스트 (다차원배열)
a = [1,2,3,[4,5,6]]
len(a)

4

In [14]:
a[3][2]

6

In [15]:
# 3x3 행렬
a = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

In [18]:
# 행,열
a[1][1]

[4, 5, 6]

In [19]:
# 리스트 연산
a = [1,2,3]
b = [4,5,6]
c = a + b
c

[1, 2, 3, 4, 5, 6]

In [20]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [21]:
a+a+a

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [22]:
# 삭제(인덱싱)
del a[0]
a

[2, 3]

In [23]:
# 삭제(슬라이싱)
b = [1,2,3,4,5,6,7,8,9,10]
del b[4:]
b

[1, 2, 3, 4]

### 리스트 관련 함수

In [24]:
# append() : 매개변수의 값을 리스트에 추가 (마지막 인덱스에)
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [25]:
a.append([5,6,7]) # 마지막 인덱스로 추가
a

[1, 2, 3, 4, [5, 6, 7]]

In [26]:
# extend() : 매개변수의 값을 확장 (+ 연산과 동일)
a = [1,2,3,4]
a.extend([5,6,7])
a

[1, 2, 3, 4, 5, 6, 7]

In [27]:
# sort() : 정렬
a = [4,3,2,1]
a.sort()

In [28]:
a

[1, 2, 3, 4]

In [29]:
# 반대로 뒤집기
a.reverse()
a

[4, 3, 2, 1]

In [32]:
# 내림차순
a = [10,1,8,4,15,3]
a.sort()
a.reverse()
a

[15, 10, 8, 4, 3, 1]

In [33]:
# index() : 위치 인덱스를 리턴, find() 없음
a.index(8)

2

In [34]:
# insert() : 삽입
# insert(index, value)
a.insert(0,7)
a

[7, 15, 10, 8, 4, 3, 1]

In [36]:
# remove() : 삭제, 첫번째값 삭제
a.append(8)
a.remove(8)
a

[7, 15, 10, 4, 3, 1, 8]

In [37]:
# pop() : 마지막값을 삭제하고 리턴
a.pop()

8

In [38]:
a

[7, 15, 10, 4, 3, 1]

In [39]:
# pop(i) : i번째 인덱스값을 삭제하고 리턴
a.pop(1)

15

In [40]:
a

[7, 10, 4, 3, 1]

In [41]:
# count() : 갯수를 리턴
a = [3,2,1,3]
a.count(3)

2

In [42]:
a.count(4)

0

In [43]:
a.index(4)

ValueError: 4 is not in list

In [45]:
# in 키워드 : 값이 존재하는지 여부
# 값 in 리스트 : 리스트안에 값이 있으면 True, 없으면 False
4 in a

False

### 튜플 (tuple)
* 리스트와 유사
* 소괄호 ( ) 사용
* 값을 변경할 수 없음
* 튜플을 사용하는 이유
    * 라이브러리 함수들이 튜플로 리턴
    * 리스트보다 메모리 공간을 적게 사용

In [48]:
def calculator(x, y):
    return x+y, x-y, x*y, x/y

In [49]:
a,b,c,d = calculator(10,5)
print(a,b,c,d)

15 5 50 2.0

In [50]:
a = (1,2,3)
type(a)

tuple

In [51]:
a[0]

1

In [52]:
a[0] = 4

TypeError: 'tuple' object does not support item assignment

### 튜플 선언하는 방법

In [53]:
a = (1)
type(a)

int

In [54]:
# 값이 하나만 있는 튜플인 경우
a = (1,)
type(a)

tuple

In [55]:
# 괄호 생략 가능
a = 1,2,3,4,5
type(a)

tuple

In [56]:
# 빈 튜플
a = ()
type(a)

tuple

In [60]:
a = (1,2,3,4,5)
a = a*2

In [61]:
a

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [63]:
a=1
b=2
a,b = (b,a)
print(a,b)

2 1

In [64]:
# 리스트와 튜플의 저장공간 차이 비교
import sys
ls = [1,2,3]
tp = (1,2,3)
sys.getsizeof(ls), sys.getsizeof(tp)

(80, 64)

### 딕셔너리(dictionary)
* 딕트 (dict)
* 키와 밸류 key:value (hash)
* 중괄호 { }
* 순서가 없음 -> 인덱스가 없음
* 인덱스 대신 키 사용
* 자바스크립트 객체 표기법과 유사

In [68]:
a = {'name':'홍길동', 'age':30, 'id':'hong'}
type(a), a

(dict, {'name': '홍길동', 'age': 30, 'id': 'hong'})

In [69]:
a['name']

'홍길동'

In [70]:
a.get('name')

'홍길동'

In [71]:
# [ ], get() 차이점
# [ ] 방식은 키가 존재하지 않으면 에러 발생
a['tel']

KeyError: 'tel'

In [73]:
print(a.get('tel'))

None

In [74]:
a.get('tel','값없음')

'값없음'

In [75]:
# 요소를 추가 (존재하지 않은 키에 값을 대입)
a['tel'] = '02-123-4567'
a

{'name': '홍길동', 'age': 30, 'id': 'hong', 'tel': '02-123-4567'}

In [76]:
a['age'] = 40
a

{'name': '홍길동', 'age': 40, 'id': 'hong', 'tel': '02-123-4567'}

In [77]:
# value값은 어떤 자료형도 가능
a['school'] = {'first':'00초등학교','second':'00중학교','third':'00고등학교'}
a

{'name': '홍길동',
 'age': 40,
 'id': 'hong',
 'tel': '02-123-4567',
 'school': {'first': '00초등학교', 'second': '00중학교', 'third': '00고등학교'}}

In [78]:
a['school']['second']

'00중학교'

In [79]:
a['school'] = {'first':'00초등학교','second':'00중학교','third':['00고등학교','XX고등학교']}

In [80]:
a['school']['third'][1]

'XX고등학교'

In [83]:
# 모든 키들을 리턴(리스트 같은 형태) 해주는 함수(for문에서 사용)
list(a.keys())

['name', 'age', 'id', 'tel', 'school']

In [82]:
type(a.keys())

dict_keys

In [84]:
# 모든 값들을 리턴해주는 함수
a.values()

dict_values(['홍길동', 40, 'hong', '02-123-4567', {'first': '00초등학교', 'second': '00중학교', 'third': ['00고등학교', 'XX고등학교']}])

In [85]:
# 키, 밸류 쌍(튜플)으로 리턴
a.items()

dict_items([('name', '홍길동'), ('age', 40), ('id', 'hong'), ('tel', '02-123-4567'), ('school', {'first': '00초등학교', 'second': '00중학교', 'third': ['00고등학교', 'XX고등학교']})])

### set (집합)
* 순서가 없고, 중복 안됨
* { } 중괄호 사용

In [86]:
a = {1,2,3,4,5,1,6,7,8,9}
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [87]:
a = [1,2,3,4,5,1,6,7,8,9]
a

[1, 2, 3, 4, 5, 1, 6, 7, 8, 9]

In [88]:
set(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [94]:
# 집합연산
a = {1,2,3}
b = {2,3,4}
print(a.union(b)) # 합집합
print(a.intersection(b)) # 교집합
print(a.difference(b)) # 차집합
print(a.issubset(b)) # 부분집합

{2, 3, 4}
{2, 3}
set()
True