### 함수
* 하나의 기능단위로 묶어서 선언
* 중복을 줄이고, 재사용성을 높이기 위해
* 입력값(매개변수)을 받아서 처리 후 출력값(리턴)을 반환
* 매개변수, 리턴값이 있을 수도, 없을 수도 있다.
* 이미 만들어진 함술르 잘 사용, 적절한 함수를 만들 수 있는 능력
```python
def 함수명(매개변수...) :
    실행코드...
    return 리턴값 
```

In [4]:
#두개의 매개변수를 입력받아 함수를 구해서 출력하는 함수
def add(a,b):
    return a+b
add(1,5)

6

In [5]:
add(1,2)

3

In [6]:
def add2(a,b):
    pass

In [7]:
c = add(2,3)
c

5

In [9]:
print(add2(1,2))

None

In [10]:
add('안녕','파이썬')

'안녕파이썬'

In [11]:
add([1,2,3],[4,5,6])

[1, 2, 3, 4, 5, 6]

In [12]:
add('안녕',1)

TypeError: can only concatenate str (not "int") to str

### 파라미터 아규먼트
* 파라미터 : 함수를 선언할 때 호출하는 부분에서 넘겨준느 데이터를 함수 안에서 받는 변수
* 아규먼트 : 함수를 호출할 때 함수안쪽으로 넘겨주는 값(데이터)

### 파라미터
* 매개변수 ,인자
* 함수 안쪽으로 전달되는 입력값(input)
* 입력값이 필요 할수도 있고, 필요없을수도 있음
* 1개 이상일 수도 있음 (매개변수가 여러개)
* 타입은 어떤 파이썬 객체가 전달 될 수 있음
* 함수도 파라미터로 전달 될수 있음 (콜백함수)
* 파이썬은 동적타이핑을 지원하기 때문에 함수 선언 시 주의
* 함수를 정의할때 매개변수 순서대로 대입(전달)

In [13]:
def div(x,y):
    return x/y

In [14]:
div(10,5)

2.0

In [15]:
div(5,10)

0.5

In [16]:
#매개 변수값을 직접 지정
div(y=5,x=10)

2.0

In [17]:
print(1,2,3, sep="\n")

1
2
3

### 매개변수가 몇개 인지 알수 없을 떄
* *args : 파라미터를 튜플 형태로 전달
* *kargs : 파라미터를 딕셔너리 형태로 전달

In [26]:
# 매개변수들의 합을 리턴하는 함수
def add1(*args):
   ## print(args)
   ## print(type(args))
    s=0
    for v in args:
        s+=v
    return s

In [27]:
add1(1,2,3,4,5)

15

In [28]:
def add2(**kwargs):
    for a,b in kwargs.items():
        print(a,b)

In [29]:
add2(a=1,b=2,c=3,d=4,e=5)

a 1
b 2
c 3
d 4
e 5

In [30]:
def add3(scores):
    s=0
    for v in scores:
        s+=v
    return s, s/len(scores)

In [32]:
ls = (90,80,70,50)
s, avg = add3(ls)
print(s, avg)

290 72.5

In [33]:
t = (90,80,70,50)
print(add3(t))

(290, 72.5)

### 기본 파라미터(default paramter)
* 매개변수의 초기값을 미리 지정(반드시 오른쪽 끝에서부터 차례대로)

In [38]:
# 매개변수 : 이름, 나이, 성별
# 나이와 성별을 값이 없을수도 있다
def member(name, age=0, gender='여'):
    print('이름:',name)
    print('나이:',age)
    print('성별:',gender)

In [36]:
member('홍길동',30,'남')

이름: 홍길동
나이 30
성별: 남

In [37]:
member('홍길동')

이름: 홍길동
나이 0
성별: 여

In [40]:
def test(a):
    if a ==1:
        return '성공'
    
    return '실패'

In [41]:
test(1)

'성공'

In [42]:
test(2)

'실패'

In [43]:
# 리턴값을 여러개 지정(튜플로 리턴)
def calculator(x,y):
    return x+y, x-y, x*y,x/y

In [44]:
a,b,c,d =calculator(10,5)

In [45]:
a,b,c,d

(15, 5, 50, 2.0)

### variablecope(변수의 범위)
* 변수가 참조가능한 코드상의 범위
* 함수내의 변수는 속한 블록안에서만 사용가능 (지역변수)
* 현재 파일 상단에 선언되 변수는 어디에서 사용가능(전역변수)
* 전역변수와 지역변수명이 같으면, 지역변수가 우선

In [47]:
ss = 0
for v in range(10):
    ss+=v

In [48]:
print(ss)

45

In [49]:
x=10 # 전역변수
def test(x):
    x+=1
    print(x)

In [50]:
test(50)

51

In [51]:
print(x)

10

In [55]:
def test2(y):
    y+=1
    print(x)

In [56]:
test2(50)

10

In [57]:
def test3():
    global x
    x+=1

In [58]:
test3()
print(x)

11

In [59]:
def test4(x):   
    x+=1
    return x

In [60]:
x = test4(50)
x

51

### 내부함수(inner function)
* 함수안에 함수(지역함수)

In [63]:
 def run():
        print('학교간다')

In [61]:
def school():
    def run():
        print('학교간다')
    run()

In [62]:
school()

학교간다

In [64]:
run()

학교간다

In [66]:
def outer(a,b):
    def inner(c,d):
        return c+d
    inner(a,b)

In [67]:
inner(10,20)

NameError: name 'inner' is not defined

###콜백(callback)함수
* 함수를 매개변수로 전달

In [69]:
def calc(func, a, b):
    a +=10
    b +=20
    return func(a,b)
def plus(a,b):
    return a+b
def minus(a,b):
    return a-b

In [70]:
calc(plus,10,20)

60

In [71]:
calc(minus,30,10)

10

### Lambda 함수
* 단일문으로 표현하는 익명함수
* 익명함수 : 이름이 없는 함수, 구현체만 존재
* 한번만 사용되는 경우, 굳이 함수를 선언하지 않고 일회성으로 사용할 때

In [72]:
def add(x,y):
    return x+y

In [73]:
add(1,2)

3

In [75]:
add2 = lambda x,y : x+y

In [76]:
type(add2)

function

In [77]:
add2(2,3)

5

In [78]:
calc(lambda x,y : x+y, 10, 20)

60

In [79]:
calc(lambda x,y : x-y, 10, 20)

-20

### filter, map reduce
* lambda 함수가 유용하게 사용되는 대표적인 함수
* 함수적프로그래밍 대표적 사례
* filter : 특징 조건을 만족하는 요소만 남기는 필터링
* map : 순서가 있는 데이터 집합에서 각 요소를 주어진 함수(수식)에 따라 변환하여 새로운 집합으로 반환
* reduce : 앞에서붜 차례대로 2개의 요소를 연산, 연산의 결과(하나)를 다음요소와 연산. 따라서 마지막 요소까지 진행ㄷ괴면 최종결과는 한개의 값만 남게됨(누적연산)

In [80]:
def even(n):
    return n%2 ==0

In [81]:
even(11)

False

In [82]:
number = list(range(1,11))
number

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [84]:
# 필터링(짝수만)
filter(even, number)

In [85]:
list(filter(even,number))

[2, 4, 6, 8, 10]

In [86]:
# filter함수의 기능을 for문으로 구현

In [87]:
#map
#리스트의 각요소들을 제곱해서 새로운 집합
list(map(lambda n : n**2,number))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [90]:
# reduce 
import functools

In [91]:
functools.reduce(lambda n,m : n+m,number)

55

In [92]:
#사용자 값을 입력함수

In [93]:
input()

안녕?

'안녕?'

In [96]:
name = input('당신의 이름을 입력하세요')

당신의 이름을 입력하세요홍길동

In [97]:
name

'홍길동'

In [98]:
import random

In [99]:
random.random()

0.67586006830298

In [101]:
random.randrange(1,11)

5

In [ ]:
a=0
while a <10 :